.App {

}


.Header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  text-align: center;
  background: #8a5ba0;
  color: white;
}

.Footer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  text-align: center;
  background: #a58db1;
  color: white;
}

.Main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.GroceriesList {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex: 50%;

}


.BasketList {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  flex: 50%;

}

ul {
  line-height: 50px;
  color:white;
  list-style-type: none;
  position: relative;
    margin: 0px 100px 40px 60px;
}

li{
cursor: pointer;
}

li:nth-child(2n+0){
  background:#3f3f3f;
  overflow:auto;
  border-radius: 10px;
  margin-bottom: 5px;
}

li:nth-child(2n+1){
background: rgb(172, 172, 172);
  overflow:auto;
  border-radius: 10px;
    margin-bottom: 5px;
}

button{
margin-right:5px;
margin-left:10px;
border-radius: 5px;
background:transparent;
border: solid white 2px;
font-size: 24px;
color:white;
line-height: 0px;
padding-left:4px;
padding-top:2px;
height: 22px;
width:26px;
text-decoration: none;
}

li:hover > button{
background:rgb(50, 179, 71);
border: solid rgb(50, 179, 71) 2px;

}

li:hover > .minusButton{
background:rgb(255, 59, 59);
border: solid rgb(255, 59, 59);
}

button:focus {
  outline:none;
  box-shadow: none;
}

h2{
  margin-left:100px
}

.SearchArea{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
width: 300px;
margin-left: 40%;
border-radius: 5px;
background-color:rgb(156, 156, 156);
font-size: 20px;
border: 2px solid rgb(156, 156, 156);
margin-top: 10px;
outline:none;
box-shadow: none;
color:black;
}

.SearchArea:focus{
background:rgb(226, 226, 226)
}


::placeholder {
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color:white;
}

.ok{
  background: black;
  width:500px;
  height:500px
}